

#author{
	color: #FF6D00
}
.ban-img{
	width: 650px;
	height: 400px;
}
.image-container{
	width: 255px;
	height: 200px;
}
.product-details{
	text-align: center;
}
.custom-btn{
	margin: 10px auto;
	font-size: 1em;
}
.shop-sidebar{
	margin-top: 30px;
}
.hidden-form button{
	background: none;
	border: none;
	display: inline;
	cursor: pointer;
	
}
.cart-icon {
	position: relative;
	display: inline-block;
	overflow: hidden;
	color: #828bb3;
}
.cart-icon:hover {
	color: #FF6D00;
}
.cart-icon .text{
	color: #6c757d;
	margin-left: 3px;
	font-size: 17px;
}
.cart-image{
    width: 150px;
    height: 100px;
}
.btn-to-link{
    background-color: inherit;
    border: none;
    color: blue;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}
.StripeElement {
	box-sizing: border-box;

	height: 40px;

	padding: 10px 12px;

	border: 1px solid transparent;
	border-radius: 4px;
	background-color: white;

	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}

#card-errors{
	color: #fa755a;
}

.btn-to-link{
	background-color: inherit;
	border: none;
	color: blue;
	text-decoration: underline;
	font-size: 12px;
	cursor: pointer;
}
.prices-head{
	text-transform: uppercase;
	color: #222222;
	font-weight: 300;
}
.price-span{
	float: right;
}